<h1>BURGER TIME!!</h1>

<h2>Burgers to eat</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
             {{> burgers/burger-block devoured=true}}
         {{/unless}}
    {{/each}}
</ul>

<h2>Devoured burgers</h2>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add a New Burger</h2>

<form class="create-form">

    <div class="form-group">
        <label for="burger">New Burger:  </label>
        <input type="text" id="newBurger" name="burger" placeholder="type in burger here">
    </div>

    <div class="form-group">
        <label for="devour">Devour:  </label> 
        <input type="radio" name="devour" value="1">Devoured
        <input type="radio" name="devour" value="0" checked> Ready to eat!

        <button type="submit">Add this burger!</button>
    </div>
</form>