/* local styling applied to handlebar views */
/* background color of body */
body {
  background-color: hotpink;
}

/* background color of jumbotron */
.jumbotron {
  background-color: gold;
}

/* styling for burger image in jumbotron */
.jumbotron #burger {
  max-height: 425px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

/* background color for card headers */
.card-header {
  background-color: slategray;
}

/* changing the button color for "Eat DAT Burgah!!" /"Cook Again" buttons*/
.btn-large {
  color: black;
}

/* removing the bullets from he ul element */
ul {
  list-style-type: none;
}

/* using roboto and making the font relative to the largest font size on the page */
li {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

/* footer styling */
.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.65;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  margin-right: 5px;
}

.fa-github {
  background: #2c4762;
  color: white;
  margin-left: 5px;
}

#copyright {
  text-align: center;
  color: wheat;
}

#social-media-header {
  color: wheat;
}

#social-media {
  text-align: center;
}

#e_mail {
  color: wheat;
  text-align: center;
}
